name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 3 * * 2'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        include:
          - java: 8
          - java: 25
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
      with:
        java-version: ${{matrix.java}}
        distribution: zulu
    - uses: coursier/cache-action@v7
    - uses: sbt/setup-sbt@v1
    - run: |
        set -eux
        case "${{ matrix.java }}" in
          21)
            sbt -v '++ 2.12.x' test '++ 2.13.x' test '++ 3.x' test
            ;;
          *)
            sbt -v "+ Test/compile" checkScalariform "+ test"
        esac
