name: CI
on:
  pull_request:
  push:
  schedule:
  - cron: '0 3 * * 2'
jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        include:
          - java: 8
          - java: 11
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@3f07048e3d294f56e9b90ac5ea2c6f74e9ad0f98 # v3.10.0
      with:
        java-version: ${{matrix.java}}
        distribution: adopt
    - uses: coursier/cache-action@v6
    - run: sbt -v "+ Test/compile" checkScalariform "+ test"
