name: Release

on:
  push:
    tags:
      - '*.*.*'

jobs:
  releases:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
      with:
        java-version: 8
        distribution: adopt
    - uses: coursier/cache-action@v8
    - name: Setup GPG
      run: |
        echo "$GPG_PRIVATE_KEY" | gpg --batch --import
      env:
        GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}

    - name: Publish to Sonatype
      env:
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
        PGP_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      run: sbt clean +test +publishSigned sonaRelease
